.Navbar {
    width: 100vw;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    position: relative;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: var(--Secondary);
    align-items: center;
    flex-direction: row;

}

.InnerHeader {
    padding: 10px 10px;
    width: 100vw;
    display: flex;
    height: fit-content;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: var(--Secondary);
    align-items: center;
    flex-direction: row;
}

.selector-container {
    font-size: 14px;
    background-color: var(--Primary);
    border: solid var(--Primary) 3px;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 20px;
    transition: 300ms all ease-in-out;

}

.selector-container:hover {
    transform: translateY(-2px);
}


.selector-container > select {
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border: none;
    border-radius: 0;
    padding-right: 20px;

}

.selector-container > select option {
    font-size: 14px;
    color: black;

}

.langLogo {
    width: 30px;
    height: 30px;
    filter: invert(100%);

}

.no-outline:focus {
    outline: none;
}